<div class="col col-12">
  <div class="form-group">
    <label for="formControlInputMatch">Pattern to match</label>
    <div class="input-group mb-3">
      <input id="formControlInputMatch" type="text" name="check[match]" value="<%= check.getPollerParam('match') || '' %>" class="form-control" placeholder="Uses regular expressions. Leave blank to disable pattern detection.">
    </div>
  </div>
</div>