  <fieldset>
    <div class="control-group">
      <label class="control-label">StatusHub Id</label>
      <div class="controls controls-row">
        <input type="number" name="check[statusHubId]" value="<%= check.getPollerParam('statusHubId') || '' %>" class="span2" placeholder="id number here"/>
      </div>
    </div>
  </fieldset>
