  <fieldset>
    <div class="control-group">
      <label class="control-label">StatusPage Id</label>
      <div class="controls controls-row">
        <input type="text" name="check[statusPageId]" value="<%= check.getPollerParam('statusPageId') || '' %>" class="span2" placeholder="component id here"/>
      </div>
    </div>
  </fieldset>
