<script src="/httpOptions/javascripts/jquery.autoresize.js"></script>
<div class="col col-xs-12 col-md-6">
  <div class="form-group">
    <label for="formControlTextareaHttpOptions">HTTP Options</label>
    <textarea
      class="form-control"
      id="formControlTextareaHttpOptions"
      name="check[http_options]" rows="3"
      placeholder="Use YAML format, e.g method: HEAD"
    ><%= check.getPollerParam('http_options') || '' %></textarea>
    <small class="form-text text-muted">
      See the
      <% if (check.type === "http") { %>
      <a target="_blank" href="http://nodejs.org/api/http.html#http_http_request_options_callback">Node.js HTTP
      <% } else { %>
      <a target="_blank" href="http://nodejs.org/api/https.html#https_https_request_options_callback">Node.js HTTPS
      <% } %>
      documentation</a> for a list of available options
    </small>
  </div>
</div>
<div class="col col-xs-12 col-md-6">
  <div class="form-group">
    <label for="formControlTextareaHttpBody">HTTP Body</label>
    <textarea
      class="form-control"
      id="formControlTextareaHttpBody"
      name="check[http_body]" rows="3"
      placeholder="POST body go here.."
    ><%= check.getPollerParam('http_body') || '' %></textarea>
    <small class="form-text text-muted">
      You can provide your body in this text area.
    </small>
  </div>
</div>
<script type="text/javascript">
jQuery(function($) {
  $('#check_form textarea[name="check[http_options]"]').autoResize();
});
</script>